<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generated pdf for Exchange Rates</title>
</head>
<body>
<h1 style="text-align: center; margin-bottom: 20px">Exchange Rates</h1>

<th:block th:each="exchangeRate: ${exchangeRates?.exchangeRates}">
    <ul>
    <li th:text="${exchangeRate.currency}" style="list-style-type: square; font-size: 25px; font-family:Verdana, sans-serif"></li>
    </ul>
    <table style="margin: auto">
        <tr>
            <th style="font-size: 18px">Date</th>
            <th style="font-size: 18px">Value (HUF)</th>
        </tr>
        <th:block th:each="dailyValue: ${exchangeRate.dailyValues}">
            <tr>
                <td th:text="${dailyValue.date}" style="padding: 5px 30px;"></td>
                <td th:text="${dailyValue.value}" style="padding: 5px 30px;"></td>
            </tr>
        </th:block>
    </table>
    <br>
</th:block>
</body>
</html>